<h1>Home#index</h1>
<% if user_signed_in? %>
  <p>Welcome back, <%= current_user.email %>!</p>
<%else %>
  <%= link_to 'Sign up', new_user_registration_path %> or
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>

 <!-- <div class="container mt-5">
    <h1>Bem-vindo ao meu App Rails 8!</h1>
    <button type="button" class="btn btn-primary">Botão Bootstrap</button>
    <div class="alert alert-success mt-3" role="alert">
      Isso é um alerta Bootstrap!
    </div>
  </div> -->